<!DOCTYPE html>
<html>
  <head>
    <title>Meatmon</title>
    <link rel="stylesheet" href="/css/meatmon.css"/>
  </head>
  <body>
    <div id="container"></div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/highcharts-release/highcharts.js"></script>
    <script src="/lib/async/lib/async.js"></script>
    <script src="/js/meatmon.js"></script>
  </body>
</html>